body {
    margin: 0;
    padding: 0;
    margin: 5px;
    background-color: rgb(255, 255, 255);
    display: grid;
}
header{
    display: grid;
    overflow: hidden;
    grid-template-columns: auto auto;
    gap: 5px;
}
nav ul{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    overflow: hidden;
    gap: 5px;
}
nav li{
    font-size: x-large;
    text-align: center;
    list-style-type: none;
    padding: 40px 2px;
    background-color: pink;
    margin: 0;
    padding: auto;
}
.contentContainer{
    display: grid;
    gap: 5px;
}
.posttitle{
    text-align: center;
    background-color: skyblue;
    padding: 30px 220px;
    margin: 0;
    margin-top: 5px;
}